$bg_color_dark_only: #1d1e26;
.li-fix {
    padding: 10px !important;
}
.btn-add {
    border: 1px solid rgb(247, 153, 153) !important;
    width: 35px !important;
    height: 35px !important;
    padding: 0 !important;
    cursor: pointer;
    font-size: larger !important;
    &:hover {
        background-color: antiquewhite;
    }
    &:active {
        background-color: aliceblue;
    }
}
.Carsousel {
    height: 200px;
}
.filter-toggle {
    background-color: $bg_color_dark_only;
}
.card .card-header {
    padding: 20px !important;
}
.carousel-item {
    height: 250px;
}
